[Unit]
Description=ONYX MIPI I3C Master Controller Service
After=dbus.service

[Service]
Restart=always
ExecStart=/usr/bin/onyx-i3c-manager
Type=simple

[Install]
WantedBy=multi-user.target
