[Unit]
Description=ONYX PLDM Type 6 RDE Integration
After=network.target

[Service]
ExecStart=/usr/bin/onyx-pldm-rde
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
