[Unit]
Description=ONYX MCTP over SMBus Discovery Service for HGX
After=mctpd.service
Requires=mctpd.service

[Service]
ExecStart=/usr/bin/onyx-smbus-mctp
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
